/* Media query for medium-sized devices - 768px */
@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .responsive-hr {
    opacity: 0%;
  }
}

/* -------------------------------------------------------------------------- */

/* main styling */
h1 {
  font-size: 40px;
}

body {
  font-family: Nunito;
  background-color: #ffffff;
  color: #130456;
}
a {
  color: #130456;
}

/* -------------------------------------------------------------------------- */

/* Nav styling */
nav {
  display: flex;
  justify-content: space-between;
  background-color: #b6adf7;
  padding: 8px 20px;
  border-radius: 12px;
  font-size: 18px;
}

.navbar-left {
  display: flex;
  justify-content: start;
  align-items: center;
}

.navbar-right {
  display: flex;
  justify-content: end;
  list-style: none;
  align-items: center;
  gap: 80px;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav img {
  border-radius: 10px;
  width: 30%;
  height: auto;
}

.nav-list:hover {
  font-weight: bolder;
}

#minimize-nav {
  padding: 1.2em;
  border-radius: 10px;
  border: none;
  background-color: #dedaff;
}

/* -------------------------------------------------------------------------- */

/* main section styling */

main {
  padding-top: 3em;
  display: flex;
}

#left {
  width: 45%;
  margin: 10em;
  text-align: center;
  align-items: center;
}

#right {
  width: 55%;
  margin: 10em;
  text-align: left;
  align-items: center;
}

/* -------------------------------------------------------------------------- */

/* Button styling */

.btn {
  background-color: #ccc5ff;
}

.btn:hover {
  font-weight: 700;
  background-color: #addbf7;
  color: black;
}

.discover-btn {
  border: none;
  border-radius: 12px;
  width: 200px;
  padding: 14px 25px;
  margin: 50px 0px 20px 0px;

  font-family: Nunito;
  font-size: 15px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #130456;
}

/* -------------------------------------------------------------------------- */

/* Animation for wlecome message */

@keyframes changefontcolor {
  0% {
    color: rgb(149, 149, 248);
  }
  25% {
    color: pink;
  }
  50% {
    color: #80ceff;
  }
  75% {
    color: pink;
  }
  100% {
    color: rgb(149, 149, 248);
  }
}

.animate {
  animation-name: changefontcolor;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

/* -------------------------------------------------------------------------- */

/* email form styling */
.container {
  padding: 30px;
}

.container input {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  background-color: #f0ecff;
  color: #130456;
}

#emailleft {
  /* width: 45%; */
  margin: 0 1.8em 1.8em 1.8em;
}

#emailright {
  width: 45%;
  margin: 4em;
  text-align: center;
}

label {
  font-weight: bold;
}

/* taken from our day 05 class on forms with some adjustments made to it*/
[type="text"],
[type="email"] {
  padding-bottom: 0.8em;
  margin: 8px 0;
  border: none;
  border-bottom: 1px solid rgb(149, 149, 248);
  line-height: 1.5em;
}

textarea {
  border: 1px solid rgb(149, 149, 248);
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
}

[type="submit"] {
  background-color: #b6adf7;
  border: none;
  border-radius: 12px;
  margin-top: 1em;
  padding: 1em;
  width: 25%;
  height: 35%;
}

/* -------------------------------------------------------------------------- */

/* flex box styling for discover mongolia page */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2em 1em 0 1em;
}

.flex-item {
  width: 30%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.flex-item img {
  width: 100%;
  height: auto;
  display: block;
}

/* ------------------------------------------------------------------------------- */

/* DARK MODE */

.dark-mode {
  background-color: #16112a;
  color: #dedaff;
}

a.dark-mode {
  color: #dedaff;
}

a.dark-mode:hover {
  color: #ffdafc;
}

#btn.dark-mode {
  color: #16112a;
  background-color: #dedaff;
}

#btn.dark-mode:hover {
  color: #16112a;
  background-color: #f8daff;
}
