/* Media query for medium-sized devices - 768px */
@media screen and (max-width: 768px) {
  .navbar,
  main {
    flex-direction: column;
  }

  .responsive-hr {
    opacity: 0%;
  }
}

/* index page styling */
h1 {
  font-size: 40px;
}

p {
  margin-top: 35px;
}

body {
  font-family: Nunito;
  background-color: #ffffff;
  color: #130456;
}

/* Nav styling */
nav {
  background-color: #b6adf7;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 12px;
  margin: 1em 1em;
}

nav img {
  max-width: 100%;
  max-height: 100%;

  border-radius: 15px;
  float: left;
  width: 30%;
  height: auto;
  /* margin-right: auto; */
}

nav > ul {
  display: flex;
  justify-content: flex-start;

  list-style: none;
  align-items: center;
  gap: 100px;
  margin: 0;

  text-align: center;
  padding: 0;
}

.nav-list {
  font-size: 20px;
  margin: 20px 10px;
}

.nav-list:hover {
  font-weight: bolder;
}

/* main section styling */

main {
  padding-top: 2em;
  display: flex;
}

#left {
  width: 45%;
  margin: 6em;
}

#right {
  width: 55%;
  margin: 6em;
  text-align: left;
}

/* Button styling */

.btn {
  background-color: #ccc5ff;
}

.btn:hover {
  font-weight: 700;
  background-color: #addbf7;
  color: black;
}

.discover-btn {
  border: none;
  border-radius: 12px;
  width: 200px;
  padding: 14px 25px;
  margin: 20px 0px;

  font-family: Nunito;
  font-size: 15px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #130456;
}

/* Animation for wlecome message */

@keyframes changefontcolor {
  0% {
    color: rgb(149, 149, 248);
  }
  25% {
    color: pink;
  }
  50% {
    color: #51b7f6;
  }
  75% {
    color: pink;
  }
  100% {
    color: rgb(149, 149, 248);
  }
}

.animate {
  animation-name: changefontcolor;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

/* email form styling */
.container {
  /* display: flex;
  flex-direction: column; */
  padding: 30px;
}

.container input {
  width: 100%;
}

#emailleft {
  /* width: 45%; */
  margin: 0 1.8em 1.8em 1.8em;
}

#emailright {
  width: 45%;
  margin: 4em;
  text-align: center;
}

label {
  font-weight: bold;
}

/* taken from our day 05 class on forms with some adjustments made to it*/
[type="text"],
[type="email"] {
  padding-bottom: 0.8em;
  margin: 8px 0;
  border: none;
  border-bottom: 1px solid rgb(149, 149, 248);
  line-height: 1.5em;
}

textarea {
  border: 1px solid rgb(149, 149, 248);
  width: 100%;
  max-width: 100%;
}

[type="submit"] {
  background-color: #b6adf7;
  border: none;
  border-radius: 12px;
  margin-top: 1em;
  padding: 1em;
  width: 25%;
  height: 35%;
}

/* flex box styling for discover mongolia page */
/* bits of code from day 04 class */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2em;
}

.flex-item {
  width: 30%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.flex-item img {
  width: 100%;
  height: auto;
  display: block;
}
